
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
# CocoaPods
*.[oa]
*.mode1
*.mode1v3
*.mode2v3
*.moved-aside
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.xcworkspace
*~
*~.nib
.DS_Store
.hg
.svn
Build
CVS
DerivedData
Pods
VersionX-revision.h
build/
profile
xcuserdata
